ul{
	list-style-type: none;
	padding: 16px;
	margin: 12px;
	width: 200px;
}

li a{
	background-color: green;
	color: white;
	display: block;
	padding: 16px;
	text-decoration: none;
}

li a:hover{
	background-color: green;
}

li .activo{
	background-color: darkgreen;
	color: white;
}

